mat-form-field {
    display: block;
    width: 320px;
}

button {
    display: flex;
    margin: 10px;
}

input {
    font-size: 13px;
}

.form-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-layer {
    margin-bottom: 16px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.logo-layer {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.parent {
    display: grid;
    flex-direction: column;
    justify-content: center;
}
