<div class="center">
  <h1>Use your voucher code</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="main-form col-lg-6">
    <div class="form-layout">
    <div>
      <mat-form-field>
        <input type="text" formControlName="voucherCode" placeholder="your voucher code" matInput required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>
    <div >
      <button mat-raised-button type="submit" [disabled]="!form.valid" class="btn btn-primary">Send to ></button>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="text" class="form-control" required formControlName="destinationAddress" placeholder="wallet address">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  </form>
  <img src="../../assets/logo.jpg"/>
</div>