<!-- <p> -->
New wallet requires a description and has to be password protected. Store password into password manager.
<form [formGroup]="walletForm" (ngSubmit)="onSubmit()">
    <label>
        Description:
        <input type="text" id="description" class="form-control" required formControlName="description">
    </label>

    <label>
        Password:
        <input type="password" id="password" class="form-control" required formControlName="password">
    </label>

    <button type="submit" [disabled]="!walletForm.valid">Generate</button>
</form>
<!-- </p> -->