<div class="col-lg-9">
  <h3>List of all vouchers in the system</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="id">#</th>
        <th class="amount">Amount</th>
        <th class="code">Code</th>

        <th class="published">Published</th>
        <th class="sold">Sold</th>
        <th class="redeemed">Redeemed</th>
      </tr>
    </thead>
    <tbody *ngIf="vouchers$ | async">
      <tr *ngFor="let voucher of vouchers$ | async">
        <td><a routerLink="/vouchers/id">{{ voucher.id }}</a></td>
        <td>{{ voucher.amount }} {{ voucher.currency }}</td>
        <td>{{ voucher.code }}</td>

        <td>{{ voucher.published }}</td>
        <td>{{ voucher.sold }}</td>
        <td>{{ voucher.redeemed }}</td>
      </tr>
    </tbody>
  </table>
</div>

<nav class="col-lg-3">
  <ul>
    <li><a routerLink="/vouchers/generate" class="generate-vouchers-link">Create new vouchers</a></li>
    <li>Delete all unpublished</li>
    <li>Publish all unpublished</li>
  </ul>
</nav>