<div class="col-lg-9">
  <h3>List of all wallets in the system</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-lg-1">#</th>
        <th class="col-lg-2">Currency</th>
        <th class="col-lg-2">Balance</th>
        <th class="col-lg-7">Receive address</th>
      </tr>
    </thead>
    <tbody *ngIf="wallets$ | async">
      <tr *ngFor="let wallet of wallets$ | async">
        <td>{{ wallet.id }}</td>
        <td>{{ wallet.currency }}</td>
        <td>{{ wallet.balance/100000000 }}</td>
        <td>{{ wallet.address }}</td>
      </tr>
    </tbody>
  </table>
</div>

<nav class="col-lg-3">
  <ul>
    <li><a routerLink="/wallets/generate">Create new wallet</a></li>
  </ul>
</nav>