<div class="parent" *ngIf="!(state$ | async).loadingWallets">
  <div class="child col-lg-12" *ngIf="(wallets$ | async).length > 0">
    <h3>List of all wallets in the system</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-lg-1">#</th>
          <th class="col-lg-2">Currency</th>
          <th class="col-lg-2">Balance</th>
          <th class="col-lg-7">Receive address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wallet of wallets$ | async">
          <td>{{ wallet.id }}</td>
          <td>{{ wallet.currency }}</td>
          <td>{{ wallet.balance/100000000 }}</td>
          <td>{{ wallet.address }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-lg-12 no-wallets-layer" *ngIf="(wallets$ | async).length == 0">
    <h3>There is no wallets in the system.</h3>
    <button routerLink="/wallets/generate" class="btn btn-primary create-first-wallet" mat-raised-button>Create first
      wallet</button>
  </div>
</div>

<div class="parent" *ngIf="(state$ | async).loadingWallets">
  <div class="child">
    <mat-spinner></mat-spinner>
    Loading wallets...
  </div>
</div>