.create-first-wallet {
    margin: 20px;
}

.no-wallets-layer {
    text-align: center;
    padding: 20px;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}