<mat-progress-spinner [value]="((refreshSeconds$ | async) % 60) / 0.6" [diameter]="24"></mat-progress-spinner>
<div class="dashboard-card col-lg-4" [ngClass]="{'error-bg': (state$ | async).health !== '✅'}">
  <div>
    Server health: {{ (state$ | async).health }}
  </div>
</div>
<div class="dashboard-card col-lg-4" [ngClass]="{'error-bg': !(state$ | async).redemptions?.success}">
  <div>
    Redemptions done today: {{ (state$ | async).redemptions?.success }}
  </div>
</div>


<div class="dashboard-card col-lg-4" [ngClass]="{'error-bg': !(state$ | async).redemptions?.failure}">
  <div>
    Failed redemptions today: {{ (state$ | async).redemptions?.failure }}
  </div>
</div>